////////////////////////////////////////////////////////////////////////
// Définitions des polices
////////////////////////////////////////////////////////////////////////

// Basics
// -------------------------

@font-face {
	font-family: 'TrCenturyGothic';
	src: url('./fonts/tr-century-gothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}