<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script-->
</head>
<body ng-app="ippeventsApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]-->

      <header>
        <nav role="navigation" class="text-right {{active}}">
          <a class="home" href="/#/" ng-click="active='home'">Accueil</a>
          <a class="events" href="/#/events" ng-click="active='events'">Événements & sessions</a>
          <a class="speakers" href="/#/" ng-click="active='speakers'">Orateurs</a>
          <a class="contact" href="/#/" ng-click="active='contact'">Contact</a>
          <a class="members" href="/#/members" ng-click="active='members'">Équipe</a>
        </nav>
      </header>

      <!-- Add your site or application content here -->
      <div ng-view=""></div>

      <footer ng-controller="SponsorsCtrl" class="row">
        <div class="col-sm-3">
          <ul class="list-unstyled">
            <li><a href="http://www.ippon.fr/" target="_blank">Ippon Technologies</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <!-- <h5>Sponsors</h5> -->
          <ul class="list-unstyled">
            <li><a href="http://www.atomes.com/" target="_blank">Atomes</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <!-- <h5>Contact</h5> -->
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/ippontech" target="_blank"><i class="icon-twitter icon-2x"></i> Twitter</a></li>
            <li><a href="https://github.com/ippontech" target="_blank"><i class="icon-github icon-2x"></i> GitHub</a></li>
            <li><a href="http://www.linkedin.com/company/ippon-technologies" target="_blank"><i class="icon-linkedin icon-2x"></i> LinkedIn</a></li>
          </ul>
        </div>

<!--         <ul class="inline">
          <li ng-repeat="sponsor in sponsors" class="row">
            <div class="logo">
              <img src="{{sponsor.logo}}" alt="{{sponsor.name}}" height="100px;"/>
            </div>
          </li>
        </ul> -->
      </footer>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script> 

      <script src="bower_components/jquery/jquery.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="scripts/ui/angular-locale_fr-fr.js"></script>

      <!-- build:js scripts/modules.js -->
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/services/services.js"></script>
      <script src="scripts/ui/ui-events.js"></script>
      <script src="scripts/directives/calendar.js"></script>
      <script src="scripts/ui/datepicker.js"></script>
      <script src="scripts/controllers/header.js"></script>
      <script src="scripts/controllers/login.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/members.js"></script>
      <script src="scripts/controllers/events.js"></script>
      <script src="scripts/controllers/edit-event.js"></script>
      <script src="scripts/controllers/sponsors.js"></script>
      <script src="scripts/controllers/edit-member.js"></script>
      <script src="scripts/controllers/edit-session.js"></script>
      <script src="scripts/controllers/event.js"></script>
      <script src="scripts/controllers/add-performance.js"></script>
      <script src="scripts/controllers/edit-performance.js"></script>
      <script src="scripts/controllers/performance.js"></script>
      <!-- endbuild -->
    </body>
    </html>
