<section ng-controller="EditPerformanceCtrl" class="container">
  <h2 >Modifier une performance</h2>
  <form name="performanceForm" class="form-horizontal">
    <div class="form-group">
      <label for="inputTitle" class="col-lg-3 control-label">
        Titre
        <span ng-show="performanceForm.inputTitle.$error.required" class="label-form-error"> obligatoire !</span>
      </label>
      <div class="col-lg-9">
        <input type="text" ng-model="performance.title" required class="form-control" name="inputTitle" placeholder="Ippsession">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescription" class="col-lg-3 control-label">
        Description
        <span ng-show="performanceForm.inputDescription.$error.required" class="label-form-error"> obligatoire !</span>
      </label>
      <div class="col-lg-9">
        <textarea ng-model="performance.description" required class="form-control" name="inputDescription"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="iputTimeBox" class="col-lg-3 control-label">Durée (en minutes)</label>
      <div class="col-lg-9">
        <input type="text" ng-model="performance.timebox" required class="form-control" placeholder="Durée de la session">
      </div>
    </div>
    <div class="form-group">

      <label for="inputFirstname" class="col-lg-3 control-label">
        Prénom
        <span ng-show="performanceForm.inputFirstname.$error.required" class="label-form-error"> obligatoire !</span>
      </label>

      <input type="text" name="inputFirstname" required ng-model="newspeaker.firstname" placeholder="Prénom"></input>
      <input type="text" ng-model="newspeaker.lastname" placeholder="Nom"></input>
      <input name="email" type="email" ng-model="newspeaker.email" placeholder="jondoe@ippon"></input>
      <input type="text" ng-model="newspeaker.twitter" placeholder="@jondoe"></input>
      <button class="btn btn-primary" ng-click="addSpeaker()">Ajouter orateur</button>
      <div ng-repeat="speaker in performance.speakers">
       <span>{{speaker.firstname}} {{speaker.lastname}} {{speaker.email}} {{speaker.twitter}}</span>
      </div>
    </div>


    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-click="updatePerformance(performance)">Modifier</button>
      <a class="btn btn-warning" href="/#/performances" ng-show="performance._id" ng-click="active='performances'">Annuler</a>
    </div>
  </form>
</section>