<section ng-controller="EditPerformanceCtrl" class="container">
  <h2 >Modifier une performance</h2>
  <form name="performanceForm" class="form-horizontal">
    <div class="form-group">
      <label for="inputTitle" class="col-lg-3 control-label">
        Titre
        <span ng-show="performanceForm.inputTitle.$error.required" class="label-form-error"> obligatoire !</span>
      </label>
      <div class="col-lg-9">
        <input type="text" ng-model="performance.title" required class="form-control" name="inputTitle" placeholder="Ippsession">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescription" class="col-lg-3 control-label">
        Description
        <span ng-show="performanceForm.inputDescription.$error.required" class="label-form-error"> obligatoire !</span>
      </label>
      <div class="col-lg-9">
        <textarea ng-model="performance.description" required class="form-control" name="inputDescription"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="iputTimeBox" class="col-lg-3 control-label">Durée (en minutes)</label>
      <div class="col-lg-9">
        <input type="text" ng-model="performance.timebox" required class="form-control" placeholder="Durée de la session">
      </div>
    </div>
    <div class="form-group">
      <label for="inputInterest" class="col-lg-3 control-label">Note</label>
      <div class="col-lg-9">
        <input type="text" ng-model="performance.interest" required class="form-control" placeholder="1 à 10">
      </div>
    </div>
    <div class="form-group">


      <input type="text" name="inputFirstname" required ng-model="newspeaker.firstname" placeholder="Prénom"></input>

      <span ng-show="performanceForm.inputFirstname.$error.required" class="label-form-error">
        <label for="inputFirstname" class="col-lg-3 control-label">
          Prénom obligatoire
        </label>
      </span>
      <br>

      <input type="text" name="inputLastname" ng-model="newspeaker.lastname" required placeholder="Nom"></input>

      <span ng-show="performanceForm.inputLastname.$error.required" class="label-form-error">
        <label for="inputLastname" class="col-lg-3 control-label">
          Nom obligatoire
        </label>
      </span>
<br>    
      <input name="inputEmail" type="email" required ng-model="newspeaker.email" placeholder="jondoe@ippon"></input>

      <span ng-show="performanceForm.inputEmail.$error.required" class="label-form-error">
        <label for="inputEmail" class="col-lg-3 control-label">
          Email obligatoire
        </label>
      </span>

      <span ng-show="performanceForm.inputEmail.$error.email" class="label-form-error">
        <label for="inputEmail" class="col-lg-3 control-label">
          Email invalide (user@domain.com)
        </label>
      </span>
<br>
      <input type="text" ng-model="newspeaker.twitter" placeholder="@jondoe"></input>

      <br><br>

      <button class="btn btn-primary" ng-click="addSpeaker()">Ajouter orateur</button><br>

      <div ng-repeat="speaker in performance.speakers">
        <span>{{speaker.firstname}} {{speaker.lastname}} {{speaker.email}} {{speaker.twitter}}</span>
      </div>
    </div>


    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-click="updatePerformance(performance)">Modifier</button>
      <a class="btn btn-warning" href="/#/performances" ng-show="performance._id" ng-click="active='performances'">Annuler</a>
    </div>
  </form>
</section>