<section ng-controller="EditEventCtrl" class="container">
  <h2 ng-show="!event._id">Ajouter un événement</h2>
  <h2 ng-show="event._id">Modifier un événement</h2>
  <form name="eventForm" class="form-horizontal">
    <div class="form-group">
      <label for="inputTitle" class="col-lg-2 control-label">
        Titre
        <span ng-show="eventForm.inputTitle.$error.required" class="label-form-error"> obligatoire !</span>
      </label>
      <div class="col-lg-10">
        <input type="text" ng-model="event.title" required class="form-control" name="inputTitle" placeholder="IppEvent">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDateBegin" class="col-lg-2 control-label">
        Date de début
        <span ng-show="eventForm.inputDateBegin.$error.required" class="label-form-error"> obligatoire !</span>
      </label>
      <div class="col-lg-4">
        <!--input type="text" ng-model="event.dateBegin" required class="form-control" name="inputDateBegin"-->
        <calendar value="event.dateBegin" name="inputDateBegin" />
      </div>
      <label for="dateEnd" class="col-lg-2 control-label">
        Date de fin
      </label>
      <div class="col-lg-4">
        <input type="text" ng-model="event.dateEnd" class="form-control" name="inputDateEnd">
      </div>
    </div>
    <div class="form-group">
      <label for="inputTeasing" class="col-lg-2 control-label">Accroche</label>
      <div class="col-lg-10">
        <textarea ng-model="event.teasing" class="form-control" name="inputTeasing" placeholder="Un super événement en perspective ..." rows="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSummary" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea ng-model="event.summary" class="form-control" name="inputSummary" placeholder="L'évènement incontesté sur ..." rows="6"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPicture" class="col-lg-2 control-label">Image</label>
      <div class="col-lg-6">
        <input type="text" ng-model="event.picture" class="form-control" name="inputPicture">
      </div>
      <div class="col-lg-4">
        <img src="{{event.picture}}" alt="{{event.title}}" class="img-responsive" />
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-show="!event._id" ng-click="createEvent(event)">Ajouter</button>
      <a class="btn btn-warning" href="/#/events" ng-show="event._id" ng-click="active='events'">Annuler</a>
      <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-show="event._id" ng-click="updateEvent(event)">Modifier</button>
    </div>
  </form>
</section>

