<div class="bg-secondary">
  <div class="container">
    <h1>Événements & sessions</h1>
  </div>
</div>

<section class="container all-events">

  <div class="well well-complementary">
    <!-- formulaire de recherche -->
    <form name="searchForm" class="form-horizontal">
      <input type="text" ng-model="search" class="form-control" placeholder="Rechercher ..." autofocus>
      <div class="text-right">
        <a class="btn btn-default" href="/#/edit-event">Ajouter</a>
      </div>
    </form>
  </div>
  <h4>
    <ng-pluralize count="events.length"
                  when="{'0'    : 'Aucun événement trouvé. :-(',
                         'one'  : '1 événement trouvé !',
                         'other': '{} événements trouvés !'}">
    </ng-pluralize>
  </h4>

  <ul class="list-unstyled list-event">
    <li ng-repeat="event in events | filter : search | orderBy:predicate:reverse">
      <div class="row">
        <div class="col-sm-4">
          <p class="date">
            {{event.dateBegin | date:'shortDate'}}
            <i class="icon-chevron-right"></i>
            {{event.dateEnd | date:'shortDate'}}
          </p>
        </div>
        <h4 class="col-sm-8">{{event.title}}</h4>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img class="img-rounded pull-left" src="{{event.picture}}" width="150">
        </div>
        <div class="col-sm-8">{{event.teasing}}</div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary text-right" ng-click="gotoUpdateEvent($index)"><i class="icon-edit icon-white"></i> Modifier</button>
        <button class="btn btn-danger text-right" ng-click="deleteEvent($index)"><i class="icon-trash icon-white"></i> Supprimer</button>
      </div>
    </li>
  </ul>



<!-- 
<div class="span9 fm-panel fm-event-list">


    <table class="table table-hover table-striped">
      <tr>
        <th><a href ng-click="predicate = 'dateBegin'; reverse=false">Date</a>(<a href ng-click="predicate = '-dateBegin'; reverse=false">^</a>)</th>
	<th><a href ng-click="predicate = 'title'; reverse=false">Evénement</a></th>
        <th><a href ng-click="predicate = 'address.city'; reverse=false">Ville</a></th>
        <th><a href ng-click="predicate = 'maxPeople'; reverse=false">Max personnes</a></th>
      </tr>
      <tr >
        <td nowrap>
          {{event.dateBegin | date:'yyyy-MM-dd HH:mm'}}
        </td>
        <td>
          <a href="#/events/{{event._id}}">
            <img class="img-rounded pull-left" src="{{event.picture}}" width="150">
            <b>{{event.title}}</b>
          </a>
          <p>{{event.teasing}}</p>
        </td>
        <td>
          {{event.address.city}}
        </td>
        <td>
          {{event.maxPeople}}
        </td>
      </tr>
    </table>
  </div> -->

</section>