<div>
<div class="row">
    <div class="col-sm-4">
           <p class="date">
            {{event.dateBegin | date:'shortDate'}}
           <i class="icon-chevron-right"></i>
           {{event.dateEnd | date:'shortDate'}}
           </p>
          </div>
         <h4 class="col-sm-8">{{event.title}}</h4>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img class="" src="{{event.picture}}" width="150">
          </div>
          <div class="col-sm-8">{{event.teasing}}</div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary text-right" ng-click="gotoEvent($index)">
            <i class="icon-chevron-right icon-white"></i><i class="icon-chevron-right icon-white"></i> Inscription
          </button>
          <button class="btn btn-warning text-right" ng-click="gotoUpdateEvent($index)"><i class="icon-edit icon-white"></i> Modifier</button>
          <button class="btn btn-danger text-right" ng-click="deleteEvent($index)"><i class="icon-trash icon-white"></i> Supprimer</button>
        </div>
    </div>
