<div class="bg-secondary">
  <div class="container">
    <h1>Événements & sessions</h1>
  </div>
</div>

<section class="container all-events">

  <div class="well well-complementary">
    <!-- formulaire de recherche -->
    <form name="searchForm" class="form-horizontal">

      <div class="form-group">
        <label for="searchTitle" class="col-md-1">Recherche</label>
        <div class="col-md-11">
        	<input id="searchTitle" type="text" ng-model="search.$" class=" form-control" placeholder="Title ..." autofocus>
      	</div>
      </div>
	<a href="" ng-click="toggle = !toggle">Recherche avancée</a>
        <div ng-show="toggle" class="list-unstyled list-member">
      	<div class="form-group">
        <label for="searchTeasing" class="col-md-1">Accroche</label>
        <div class="col-md-11">
      <input id="searchTeasing" type="text" ng-model="search.teasing" class="form-control" placeholder="Teasing ...">
      </div>
      </div>
      <div class="form-group">
        <label for="searchSummary" class="col-md-1">Titre</label>
        <div class="col-md-11">
      <input id="searchSummary" type="text" ng-model="search.summary" class="form-control" placeholder="Summary ...">
      </div>
      </div>
      <div class="form-group">
        <label for="searchDateBegin" class="col-md-1">Date&nbsp;début</label>
        <div class="col-md-5">
      <input id="dateBegin" type="text" ng-model="search.dateBegin" class="form-control" placeholder="dateBegin ...">
    </div>
        <label for="searchDateEnd" class="col-md-1">Date&nbsp;début</label>
        <div class="col-md-5">
      <input id="searchDateEnd" type="text" ng-model="search.dateEnd" class="form-control" placeholder="dateEnd ...">
    </div>
      </div>
      <div class="form-group">
      <div class="text-right">
        <a class="btn btn-default" href="/#/edit-event">Ajouter</a>
      </div>
	</div>      
	</div>
    </form>
  </div>
  <h4>
    <ng-pluralize count="(events | filter : search ).length"
                  when="{'0'    : 'Aucun événement trouvé. :-(',
                         'one'  : '1 événement trouvé !',
                         'other': '{} événements trouvés !'}">
    </ng-pluralize>
  </h4>
  <ul class="list-unstyled list-event">
    <li ng-repeat="event in events | filter : search | orderBy:predicate:reverse">
      <event/>
    </li>
  </ul>


<!-- 
<div class="span9 fm-panel fm-event-list">


    <table class="table table-hover table-striped">
      <tr>
        <th><a href ng-click="predicate = 'dateBegin'; reverse=false">Date</a>(<a href ng-click="predicate = '-dateBegin'; reverse=false">^</a>)</th>
	<th><a href ng-click="predicate = 'title'; reverse=false">Evénement</a></th>
        <th><a href ng-click="predicate = 'address.city'; reverse=false">Ville</a></th>
        <th><a href ng-click="predicate = 'maxPeople'; reverse=false">Max personnes</a></th>
      </tr>
      <tr >
        <td nowrap>
          {{event.dateBegin | date:'yyyy-MM-dd HH:mm'}}
        </td>
        <td>
          <a href="#/events/{{event._id}}">
            <img class="img-rounded pull-left" src="{{event.picture}}" width="150">
            <b>{{event.title}}</b>
          </a>
          <p>{{event.teasing}}</p>
        </td>
        <td>
          {{event.address.city}}
        </td>
        <td>
          {{event.maxPeople}}
        </td>
      </tr>
    </table>
  </div> -->

</section>
