<div class="bg-secondary">
  <div class="container">
    <h1>Les membres de l'équipe</h1>
  </div>
</div>

<section class="container">
  <div class="well well-complementary">
    <!-- formulaire de recherche -->
    <form name="searchForm" class="form-horizontal">
      <input type="text" ng-model="search" class="form-control" placeholder="Rechercher ..." autofocus>
      <div class="text-right">
        <a class="btn btn-default" href="/#/edit-member">Ajouter</a>
      </div>
    </form>
  </div>
  <!-- liste des membres -->
  <div class="col-lg-12">
    <ul class="list-unstyled list-member">
      <li ng-repeat="member in members | filter : search">
        <people member="member">
        
        </people>
      </li>
    </ul>
  </div>
</section>

