<div class="row">
      <div class="col-lg-6">
            <h4>{{member.firstname}} {{member.lastname}}</h4>
            <p ng-switch="{{member.email}} != undefined">{{member.email}}</p>
      </div>
      <div class="col-lg-6">
      </div>
      <div class="text-right">
            <button class="btn btn-primary text-right" ng-click="gotoUpdateMember($index)"><i class="icon-edit icon-white"></i> Modifier</button>
            <button class="btn btn-danger text-right" ng-click="deleteMember($index)"><i class="icon-trash icon-white"></i> Supprimer</button>
      </div>
</div>
